.container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid blue;
    padding: 100px;
    text-align: center;
    justify-content: center;
    background-color: #8fbc8f;
}

.paint {
    color:red
}

.disabled {
    opacity: 0.5;
}

.tablo {
    border:1px solid black
}